<% provide(:title, "Sign in") %>
<h1>Sign in</h1>
<div class="row">
	<div class="span6 offset3">
		<%= form_for(:session, url: sessions_path) do |f| %>
			<%= f.label :email %>
			<%= f.text_field :email %>
			<%= f.label :password %>
			<%= f.password_field :password %>
			<%= f.submit "Sign in", class: "btn btn-large btn-primary" %>
		<% end %>
		<p>New user? <%= link_to "Sign up now!", signup_path %></p>
	</div>
</div>
<!--这里表单提交了一个对象是：Session，那么不管是email的提交还是password的提交都是作为
他的键来提交的，params[:session]就提交了这两个值，而params[:session][:email]和
params[:session][:password]就是对应这里那个值-->